.PriVaTeInfoBox {
  border: 5px orange;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
  height: 500px;
}

/*
border: 두께 선스타일 색 순으로 입력해줘야함.
지금 선스타일이 지정이 안되어있습다요ㅛ.
선스타일은 solid(걍 선), dotted(점선), double(이중으로 실선) 이 잇습니다. 사실 나도 이것밖에 모름
5px과 orange사이에 위에서 말한 선스타일을 넣어보십쇼.
*/
